---
layout: default
---
<article>
{{ content }}
</article>

{% for post in site.posts %}
{% if post.category == page.category %}
<article>
  <header>
    {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
    <h1><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
  </header>
  {{ post.excerpt }}
  {% unless post.excerpt == post.content %}
  <footer><a class="ghost" href="{{ post.url | relative_url }}">read more »</a></footer>
  {% endunless %}
</article>
{% endif %}
{% endfor %}
