---
layout: page
---

<p></p>
<img src="/assets/artwork/Me.jpg" alt="Me">

<article>
    <p> Hi, there! My name's Sammy. I'm a recent graduate of NYU's Tisch School of the Arts with a BFA in Game Design and double minors in Japanese and Computer Science! My main interest lies in visual design, but I am a capable programmer as well. I love to draw, write and play games! I also do a killer Scottish accent. </p>
    
    <p> Please check out my <a href="https://penguincoco.itch.io/">itch</a> page for games I've developed and collaborated on! </p>
    <p> I also stream on <a href="https://www.twitch.tv/penguincoco">twitch</a>. Come say hi!  </p>


    <p>
    皆さん、こんにちは！私はサミーです。

    ニューヨーク大学のティッシュ芸術学校でゲームデザインを勉強しているがくせいです。ビジュアルデザインに興味がありますが、プログラミングもできます。プロファイルを訪れてくれて ありがとうございます。よろしくおねがいします！
    </p>